body {
	background: black;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
	margin-top: 150px;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
	margin-right: 90px;
	margin-top: auto;
}
.postcard-header h1 {
	width: 600px;
	margin: 10px;
	font-family: "Rye", serif;
	font-weight: 400;
	font-style: normal;
}
.postcard-body {
	display: flex;
	gap: 2px;
}
.body-left p:first-child {
	margin-top: 0%;
}
.body-left,
.body-right {
	padding: 0%;
	margin-top: 30px;
}
input {
	border: none;
	border-bottom: grey;
}

.postcard-footer {
	text-align: center;
}
button {
	background-color: gray;
	padding: 0%;
	cursor: pointer;
	margin-top: 40px;
}
.body-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
}
.button:hover {
	background-color: darkgray;
}
.button:active {
	transform: scale(0.95);
}
.p1,
.p2 {
	margin-top: 30px;
	margin-left: 10px;
	font-family: "Cookie", cursive;
	font-weight: 400;
	font-style: normal;
}
.rye-regular {
	font-family: "Rye", serif;
	font-weight: 400;
	font-style: normal;
}
